@model AMS.Models.AssetViewModel.AssetCRUDViewModel


<div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="AssetInfo" data-toggle="pill" href="#divAssetInfo" role="tab" aria-controls="AssetInfo" aria-selected="true">Asset Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="AssigneeInfo" data-toggle="pill" href="#divAssigneeInfo" role="tab" aria-controls="AssigneeInfo" aria-selected="true">Assignee Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="AssetHistory" data-toggle="pill" href="#divAssetHistory" role="tab" aria-controls="AssetHistory" aria-selected="true">Asset History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="CommentHistoryInView" data-toggle="pill" href="#divCommentHistoryInView" role="tab" aria-controls="CommentHistoryInView" aria-selected="true">Comment History</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="divAssetInfo" role="tabpanel" aria-labelledby="divAssetInfo">
                <partial name="_Details.cshtml" />
            </div>

            <div class="tab-pane fade" id="divAssigneeInfo" role="tabpanel" aria-labelledby="divAssigneeInfoTab">
                @if (@Model.EmployeeCRUDViewModel != null)
                {<partial name="~/Views/Employee/_Details.cshtml" model="Model.EmployeeCRUDViewModel" />}
                else
                { <h1>This resource is not assigned yet.</h1>}
            </div>
            <div class="tab-pane fade show" id="divAssetHistory" role="tabpanel" aria-labelledby="divAssetHistory">
                <partial name="_AssetHistory" />
            </div>
            <div class="tab-pane fade" id="divCommentHistoryInView" role="tabpanel" aria-labelledby="divCommentHistoryInView">
                <partial name="_CommentHistoryInView" />
            </div>
        </div>
    </div>
</div>



